<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>body</title>
    <style>

        .inhoud{
            margin: 1%;
            padding: 1%;
            float: left;
            border: #274a39 solid 3px;
            background-color: lightgray;
            width: 25%;
        }
        h2{
            text-decoration: underline;

        }
    </style>
</head>
<body>


<section class="inhoud">

    <h2> In dit artikel leest u wat meer over waarom we best een include gebruiken</h2>
    <p>include/require zorgen ervoor dat je de inhoud van een ander bestand kan
    importeren in het huidige bestand. </p>


</section>
<section class="inhoud">
    <h2>blablabla</h2>
    <p>
          - De inhoud wordt onmiddellijk ‘geprint’ of gebruikt, naargelang het bestandstype
          (.txt, .html, .css, .php, ...)
      </p>
</section>


<section class="inhoud">
  <h2>de cursus laat een beetje te wensen over</h2>
    <p>het lijkt mij dat de gegeven informatie niet voldoet en het meer een trek uw plan cursus is</p>
    </section>
</body>
</html>