<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <style>
        #menu{
            float: left;
            width: 300px;
            margin-bottom: 10%;
            margin-left: 10%;
            background-color: cadetblue;

        }
        #menu li{
            text-decoration: none;
            float: left;
            padding: 10px;
            color: white;
        }
        li{
            text-decoration: none;

                }
    </style>
</head>
<body>


<nav id="menu">
    <ul>
    <li>    home</li>
    <li>    menu</li>
    <li>    contact</li>
    </ul>
</nav>

</body>
</html>